.footer__top {
  @media (min-width: @desktop-width) {
  }
}

.footer__container {
  background-color: #0B1D26;
  @media (min-width: @mobile-width) {

  }
  @media (min-width: @desktop-width) {

  }
}

.footer__title {
  margin: 0;
  text-transform: uppercase;
  @media (min-width: @desktop-width) {
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.footer__item {
  @media (min-width: @desktop-width) {
  }
}

.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  @media (min-width: @desktop-width) {
  }
}

