.page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .basic-medium();
  color: @text-color-basic;
  font-size: 18px;
  line-height: 32px;
}

.page--noScroll {
  overflow: hidden;
}

.page__header {

}

.page__footer {
}
